.ComponentLanding{
  height: 50vh;
  background:transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn{
  background-color: transparent;
}

.logo{
  width: 350px;
  height: 350px;
  background-color: transparent;
}

.btn1{
  color: white;
  font-family: Suez One;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  width: 170px;
  height: 60px;
  border-radius: 20px;

  background: #A4D65E;
  mix-blend-mode: normal;
  border: 3px solid #12B0C9;
  margin: 1px;
}

.btn2{
  color: #FFFFFF;
  font-family: Suez One;
  font-size:40px;
  
  text-transform: uppercase;
  border:none;
  cursor: pointer;
  text-decoration: none;
  width: 170px;
  height: 60px;
  background-color: transparent;
  border-radius: 20px;

  border: 3px solid #12B0C9;
  margin: 1px;
}


