.ComponentLanding{
  height: 50vh;
  background:transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn{
  background-color: transparent;
}

.logo{
  width: 500px;
  height: 500px;
  background-color: transparent;
}

