.Home{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  left: 50%;
  margin: 40px;
  font-size: 12px;
}
.btninsta{
  background-repeat: no-repeat;
  width: 25px;
  height: 4vh;
  margin: 2px;
}
.bbtninsta{
  border: none;
}